<div data-magellan-expedition="fixed">
  <h3 class ="left">
    Appmates
  </h3>
  <dl class="sub-nav right">
    <dd data-magellan-arrival="signin"><a href="#signin">Sign-In</a></dd>
  </dl>
</div>
<div class="show-for-medium-up" id="collab_pics">
  <%= image_tag 'lt_collab.JPG', :size => '390x270', :align => 'middle'%>
  <%= image_tag'rt_collab.JPG', :size => '390x270', :align => 'middle'%> 
</div>
