<div data-magellan-expedition="fixed">
  <h3 class ="left">
    Appmates
  </h3>
  <dl class="sub-nav right">
    <dd data-magellan-arrival="signin"><a href="#signin">Sign-In</a></dd>
  </dl>
</div>
<div class="show-for-medium-up row" id="collab_pics">
  <span class='large-5 large-offset-1 large-centered columns pics'>
    <%= image_tag 'lt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
  <span class='large-6 large-centered columns pics'>
    <%= image_tag'rt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
</div>
