<nav class='top-bar' data-topbar>
  <ul class='title-area'>
    <li class='name'>
      <h1><a href='#'> Appmates </a> </h1>
    </li>
    <li class='toggle-topbar menu-icon'><a href='#'><span>Menu</span></a></li>
  </ul>
  <section class='top-bar-section'>
    <ul class='right'>
      <li>
        <span>
          <input type='text' placeholder='username'/>
        </span>
        <span>
          <input type='text' placeholder='password'/>
        </span>
        <a href="#" class="button [tiny]">log-in</a>
      </li>
    </ul>
  </section>
</nav>

<div class="show-for-medium-up row" id='collab_pics'>
  <span class='large-5 large-offset-1 large-centered columns pics'>
    <%= image_tag 'lt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
  <span class='large-6 large-centered columns pics'>
    <%= image_tag'rt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
</div>
<div class="row" id='icon-nav'>
  <div class='icon large-3 large-offset-1 columns' id='browse'>
    <a href='#'> <!--Search for open projects to join link  --></a>
  </div>
  <div class='icon large-3 large-offset-1 columns' id='solicit'>
    <a href='#'> <!--Search for open projects to join link  --></a>
  </div>
  <div class='icon large-3 large-offset-1 columns' id='peep'>
    <a href='#'> <!--Search for open projects to join link  --></a>
  </div>
</div>
