<div class='fixed'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <h3 class='title'><a href='#'> Appmates </a> </h3>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class='has_form large-3 columns'>
          <input type='text' placeholder='username'/>
        </li>
        <li class='has_form large-3 columns'>
          <input type='text' placeholder='password'/>
        </li>
        <a href="#" class="button [small radius round]">login</a>
        <a href="#" class="button [small radius round]">signup</a>
      </ul>
    </section>

  </nav>
</div>

<div class="show-for-medium-up row" id='collab_pics'>
  <span class='large-5 large-offset-1 large-centered columns pics'>
    <%= image_tag 'lt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
  <span class='large-6 large-centered columns pics'>
    <%= image_tag'rt_collab.JPG', :size => '390x270', :align => 'middle'%>
  </span>
</div>
<div class="row" id='icon-nav'>
  <div class='icon large-4 columns' id='browse'>
    <a href='#'>
      <i class='fi-magnifying-glass size-48'></i>
      <div>Join</div>
    </a>
  </div>
  <div class='icon large-4 columns' id='solicit'>
    <a href='#'>
      <i class='fi-lightbulb size-48'></i>
      <div> Recruit</div>
    </a>
  </div>
  <div class='icon large-3 columns' id='peep'>
    <a href='#'>
      <i class='fi-web size-48'></i>
      <div>Peep</div>
    </a>
  </div>
  <div class='icon large-1 columns'>
    <!-- this shit is hidden -->
  </div>
</div>
