.right {
  right: 0px;
}

#collab_pics {
  margin-top: 30px;
}

.pics {
  opacity: 0.6;
}

.icon{
  height: 150px;
  width: 150px;
  float: left;
  position: static;
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 96px;
  margin-right: 87px;
}

#browse{
  background: purple;
}

#solicit{
  background: red;
}

#peep{
  background: yellow;
}
