#background-color{
  background: #FBEBDC;
}

.top-bar{
  background: #E7D5BD;
}

.has_form{
  background: #E7D5BD;
}

.right {
  right: 0px;
}

#collab_pics {
  margin-top: 30px;
}

.pics {
  opacity: 0.6;
}

.icon{
  height: 150px;
  width: 150px;
  float: left;
  position: static;
  margin-top: 15px;
  border-radius: 20px;
  margin-left: 96px;
  margin-right: 87px;
}

#browse{
  background: #5F4F5A;
}

#solicit{
  background: #5F4F5A;
}

#peep{
  background: #5F4F5A;
}

.button{
  background: #637660;
}

.title{
  color: #261034;
}
